html,
body {
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
/* #0c1952 */
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.about{
  /* width: 100vw; */
  background-image: url('../images/cryptoglobe2.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.aboutoverlay{
  background-color: rgba(0,0,0,0.4);
  height: 400px;
  /* width: 100%; */
}
.cardspace{
  /* background-color: #0c1952; */
  /* background-image: linear-gradient(to right bottom, #0c1952, #00517c, #23858f, #87b6a2, #dde5cb); */
  background: rgb(12,25,82);
/* background: linear-gradient(180deg, rgba(12,25,82,1) 11%, rgba(138,142,163,1) 57%, rgba(143,146,166,1) 63%, rgba(146,149,168,1) 70%, rgba(150,153,171,1) 74%, rgba(12,25,82,1) 91%); */
/* background: linear-gradient(180deg, rgba(12,25,82,1) 11%, rgba(150,153,171,1) 84%); */
background: linear-gradient(0deg, rgba(12,25,82,1) 11%, rgba(150,153,171,1) 84%);
}
.dtext{
  color: black;
}
.dtext:hover ~ .dcol{
  width: 90%;
}
.footer{
  background-color: #0c1952;
  /* width: 100vw; */
}
.colortest{
  background-color: #0c195280;
}
.earn-over{
  filter: opacity(0.9);
}
.prac-over{
  filter: opacity(0.9);
}
.mas-over{
  filter: opacity(0.9);
}
.practice{
  background-image: url('../images/stock1.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(1px);
  filter: saturate(0.5);
}
.earn{
  background-image: url('../images/laptop&coin.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(1px);
  filter: saturate(0.5);
  /* filter: grayscale(50%); */
}
.mastery{
  background-image: url('../images/cryptoglobe.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(1px);
  filter: saturate(0.5);
}
 .navbtm{
  background: #000826;
background: linear-gradient(90deg, rgba(12,25,82,1) 11%, #f08800 60%, rgba(12,25,82,1) 95%);
} 
.cardshadow{
  box-shadow: -2px -2px 5px 1px rgba(0,0,0,0.4);
-webkit-box-shadow: -2px -2px 5px 1px rgba(0,0,0,0.4);
-moz-box-shadow: -2px -2px 5px 1px rgba(0,0,0,0.4);
}
.cardimg{
  background-image: url('../images/logowhite.png');
  background-size: cover;
  background-position: center;
  filter: opacity(0.1);
  /* filter: brightness(0.5); */
}
.cardimg2{
  background-color: black;
  opacity: 0.2;
}
.image1{
  background-image: url('../images/tradebtc.jpg');
  background-size: cover;
  background-position: center;
}
.img1overlay{
  background-color: rgba(12, 25, 82, 0.5);
}
.image2{
  background-image: url('../images/cryptocoins.jpg');
  background-size: cover;
  background-position: center;
}
.img2overlay{
  background-color: rgba(12, 25, 82, 0.7);
}
.img0{
  background-image: url('../images/chukwuma.jpg');
  background-size: cover;
  /* background-position: center; */
}
.img1{
  background-image: url('../images/obasi.jpg');
  background-size: cover;
  transform: rotate(40deg);
  /* background-position: center; */
}
.img2{
  background-image: url('../images/chisom.jpeg');
  background-size: cover;
  /* background-position: center; */
}
.img3{
  background-image: url('../images/humble.jpeg');
  background-size: cover;
  /* background-position: center; */
}
.img4{
  background-image: url('../images/blessing.jpeg');
  background-size: cover;
  /* background-position: center; */
}
.challimg{
  background-image: url('../images/logo1.png');
  background-size: cover;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
